{% extends "base.html" %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
  <h1>Reset Password</h1>
  {% if validlink %}
    <p>Please enter you new password:</p>
    <form action="." method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p><input type="submit" value="Change my password"></p>
    </form>
  {% else %}
    <p>The password reset link is invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}
{% endblock content %}