{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django Blog</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
      <div class="nav-left">
        <h1><a href="{% url 'home' %}">Django Blog</a></h1>
      </div>
      <div class="nav-right">
        <a href="{% url 'post_new'%}">+ New Blog Post</a>
      </div>
    </header>
    <div>
      {% if user.is_authenticated %}
      <p>You are logged in as: {{ user.username }} <a href="{% url 'logout' %}">Logout</a></p>
      {% else %}
      <p>You are not logged in. <a href="accounts/login/">Login Here</a></p>
      {% endif %}
    </div>
    <div>
      {% block content %}
      {% endblock content %}
    </div>
</body>
</html>